<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {
                font-size: 36px;
            }

            a {
                font-size: 20px;
            }

            span.separator {
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <h1>BONELORE</h1>
        <h3>A repository of lore-related resources, articles and theories for StressLevelZero games.</h3>
    
        <p>0 pages (last contribution 0/0/0)</p>

        <div>
            <div>
                <h2>Browse</h2>

                <a>All</a> 
                <span class="separator">|</span>
                <a>References</a> 
                <span class="separator">|</span>
                <a>Articles</a>
                <span class="separator">|<span>
                <a>Theories</a>
            </div>
            <div>
                <h2>or Search</h2>

                <label>Title</label>
                <input type="text" list="tags">

                <datalist id="tags">
                    <option>Hello</option>
                    <option>Hi</option>
                    <option>Greetings</option>
                </datalist>

                <label>Tags:</label>
                <input type="text">

                <label>Games:</label>
                <input type="text">

                <button>Go!</button>
            </div>
        </div>
    </body>
</html>